:root{
  --header-height: 80px;
  --sidebar-margin: 40px;
  --sidebar-width: 210px;
}
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
header{
  width: 100vw;
  height: var(--header-height);
  background-color: #323232;
  position: fixed;
  z-index: 1;
}
header h1{
  display:inline;
  color: white;
  font-size: 35px;
  line-height: var(--header-height);
  margin-left: 22px;
}
header h1:hover{
  cursor: pointer;
}
.index-arrow{
  display: none;
  position: fixed;
  bottom: calc((100vh - var(--header-height)) / 2);
  transform: translateY(-50%);
}
#sidebar{
  background-color: rgba(255, 255, 255, 0.9);
  width: var(--sidebar-width);
  border-right: 1px solid #323232;
  padding: 10px 0;
  position: fixed;
  top: calc(var(--header-height) + var(--sidebar-margin));
  bottom: var(--sidebar-margin);
  left: 0;
  z-index: 1;
  overflow-y: scroll;
}
#sidebar > *{
  margin-left: 30px;
}
#sidebar details > summary:hover{
  cursor: pointer;
}
#sidebar details > summary:focus{
  outline: none;
}
#sidebar details > ul{
  margin-left: 30px;
}
#sidebar details > ul > li{
  margin: 5px 0;
}
#sidebar details > ul > li > a{
  color: black;
  text-decoration: none;
}
#sidebar details > ul > li > a:visited{
  color: black;
}
#sidebar details > details{
  margin: 10px 0 10px 13px;
}
#close-index{
  margin: 0;
  left: var(--sidebar-width);
  transform: translateX(-100%);
}
#main{
  padding: 0 80px;
  position: absolute;
  top: calc(var(--header-height) + var(--sidebar-margin));
  left: var(--sidebar-width);
  right: 0;
}
#main > h1{
  font-size: 35px;
}
#main > p{
  width: 100%;
  overflow-x: scroll;
}
#main > p > img{
  width: 100%;
  border: 1px solid skyblue;
}
#open-index{
  left: 0;
}
@media screen and (max-width: 600px) {
  #sidebar{
    display: none;
    padding: 30px 0;
    top: var(--header-height);
    bottom: 0;
  }
  #main{
    left: 0;
  }
  #close-index{
    display: block;
  }
  #open-index{
    display: block;
  }
}
